<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/form.css">
    <title>Signup</title>
</head>

<body>
    <div class="flex-container__form">
        <form>
            <h3 class="signup form__header">Sign Up</h3>
            <input type="text" id="username" class="signup form__input" name="username" placeholder="Enter your username"></li>
            <input type="email" id="email" class="signup form__input" name="email" placeholder="Enter your email">
            <input type="password" id="password" class="signup form__input" name="password" placeholder="Enter your password">
            <input type="password" id="confirm-password" class="signup form__input" name="confirm-password" placeholder="Confirm your password">
            <button type="submit" class="btn btn__primary">Create account</button>
        </form>
    </div>
</body>

</html>